

.todo__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.todo__success {
    padding: 10px 30px;
    background: #d1e7dd;
    color: #0f5132;
}

.todo__error {
    padding: 10px 0;
    background: #f8d7da;
    color: #842029;
}

.todo__error ul {
    margin: 0;
}

.section__title {
    margin: 0 auto;
    width: 70%;
}

.add-form, .search-form{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.add-form__item, .search-form__item {
    display: flex;
    width: 70%;
}

.create-form__item-input, .search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-select, .search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.add-form__button, .search-form__button {
    width: 20%;
}

.add-form__submit, .search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo-table {
    width: 70%;
    margin: 30px auto;
    /* text-align: center; */
}

.todo-content__row {
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

.todo-content__row-span {
    margin-right: 40%;
}

.todo-content__index {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    justify-content: space-between;
    display: flex;
}

.edit-form {
    width: 90%;
    padding-right: 10px;
    justify-content: space-between;
    display: flex;
}

.edit-form__item {
    width: 30%;
    height: 30px;
}

.edit-form__til-text {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.edit-form__item-p {
    margin-top: 5px;
    margin-left: 40px;
    height: 30px;
    text-align: left;
    font-size: 13px;
}

.edit-form__btn {
    width: 10%;
}

.edit-form__btn-update {
    width: 100%;
    height: 30px;
    background: #00f;
    color: #fff;
    border: none;
}

.dlt-form {
    width: 9%;
}

.edit-form__btn-delete {
    width: 100%;
    height: 30px;
    background: #f00;
    color: #fff;
    border: none;
}
